.taskTitle {
  text-align: left;
  margin-bottom: 0;
}

.taskTitleComplete {
  font-style: italic;
  text-decoration-line: line-through;
  color: gray;
  text-align: left;
  margin-bottom: 0;
}


.delete{  
  align-content: center;
  width: 30px;
  height: 30px;
  background: rgb(33, 204, 238);
  border: 1px solid #0dcaf073;
  border-radius: 4px;
}