.container {
  align-items: center;
  /* border-right: 2px solid gray; */
}

.dayName{
  text-align: center;
  font-family: 'Fredoka', sans-serif;

}

.inputAndButton{
  display: grid;
}

.input{
  padding-right:0;
  padding-left: 0;
}

.createButton{
  position: center;
  align-content: center;
  width: 65px;
  height: 35px;
  background: #B2DCDC;
  border: 1px solid #497272;
  border-radius: 4px;
  padding-right:2px;
  padding-left:0;
}
