.all{
   align-items:center;
   /* min-height: 100vh; */
   /* max-height: 100vh; */
   /* height: 100%; */
}

.title {
  text-align:center;
  padding: 20px;
  font-family: 'Fredoka', sans-serif;
  font-size: 60px;
 }

.daysWeek {
  background-color: rgba(255, 255, 255, 0.822); 
  border: solid gray 1px;
  height: 75vh;
  padding: 20px 0px;  
}

.tesr {
  padding:0
}